[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
pandas = "*"
pyarrow = "*"
numpy = "*"
sqlalchemy = "*"
python-dotenv = "*"
pydantic-settings = "*"
watchdog = "*"
asyncpg = "*"
psycopg2-binary = "*"
pyspark = "==3.4.0"

[dev-packages]
psycopg2 = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
